<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/main.css">
    <script src="/src/main/resources/static/assets/js/swiper-bundle.js"></script>
</head>
<body>
    <!-- 왼쪽 사이드 배너 -->
    <aside class="side-banner">
        <ul class="side-list">
            <li><a href="/">HOME</a></li>
            <li><a href="#">게시판</a></li>
            <li><a href="#">MY</a></li>
            <li><a href="#">근처맛집</a></li>
        </ul>
    </aside>

    <!-- 메인 추천 배너 -->
    <div class="swiper">
        <div class="swiper-wrapper">
            <li class="swiper-slide"><a href="#"><img src="/src/main/resources/static/assets/img/Pizza.png" alt="추천 음식 장르"></a></li>
            <li class="swiper-slide"><a href="#"><img src="/src/main/resources/static/assets/img/Pizza.png" alt="추천 음식 장르"></a></li>
            <li class="swiper-slide"><a href="#"><img src="/src/main/resources/static/assets/img/Pizza.png" alt="추천 음식 장르"></a></li>
            <li class="swiper-slide"><a href="#"><img src="/src/main/resources/static/assets/img/Pizza.png" alt="추천 음식 장르"></a></li>
            <li class="swiper-slide"><a href="#"><img src="/src/main/resources/static/assets/img/Pizza.png" alt="추천 음식 장르"></a></li>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <!-- 하단 게시판 미리보기 영역 -->
    <section>
        <div class="preview-container">
            <h1>게시판 미리보기</h1>
            <ul class="preview-list">
                <li class="preview">
                    <h2>제목</h2>
                    <p>text***</p>
                    <p class="pre-date">작성일</p>
                    <span>추천수</span>
                </li>
            </ul>
        </div>
    </section>


    <script>
        const mainSwiper = new Swiper('.swiper', {
            loop: true,
            slidesPerView: 3, // 여백화면 미리보기
            centeredSlides: true, // 슬라이드 이미지 가운데 정렬
            pagination:{
                el: '.swiper-pagination',
                clickable: true,
            }
        })
    </script>
</body>
</html>